<a href="https://colab.research.google.com/github/forgef/Query_WTO_API/blob/master/1_Data_Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use the WTO API to request data from [WTO Time Series Website](https://timeseries.wto.org/). <br>


Info on how to use the API [here](https://apiportal.wto.org/)

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import urllib.parse
import requests
import pandas as pd
import json
from datetime import datetime
import chardet
from concurrent.futures import ThreadPoolExecutor
dataFolder='/content/gdrive/My Drive/LDC/Data/' 
wto_api_key=

In [0]:
# Preferential by detailed HS 6-digit ; HS MFN - Simple average with ad valorem equivalents (AVE) (Percent) 
indicators=['HS_P_0070','HS_A_0015'] ; tariff_names=['Preferential','MFN']
INDICATORS=dict(zip(tariff_names,indicators))
#Reporting Countries
reporting=['036','124','918','352','392','554','578','756','792','840'] ; country_names=['Australia', 'Canada', 'European Union', 'Iceland', 'Japan', 'New Zealand', 'Norway', 'Switzerland', 'Turkey', 'United States']
OECD= dict(zip(country_names,reporting))

In [0]:
###############################################################################################################################################################################
def create_urls(country, tariff, maxrows='1000000'):
  # Create the URL for the request
  wto='https://api.wto.org/timeseries/v1/data?'
  mykey=wto_api_key
  URLs=[]
  ### URLs_pref
  for year in range(1980,2016):
    params = urllib.parse.urlencode({
        # Request parameters
        'i': INDICATORS[tariff], #
        'r': OECD[country],
        'ps': year,
        'pc': 'HS6',
        'max': maxrows,
        'fmt': 'json',
        'mode': 'full',
        'dec': 'default',
        'lang': '1',
        'meta': 'false',
        'off': '0',
        'subscription-key':mykey
    })
    url=''.join([wto,params])
    URLs.append(url)
  return URLs
###############################################################################################################################################################################
def query_wto(url):
  url_year=url.replace('https://api.wto.org/timeseries/v1/data?i='+INDICATORS[tariff]+'&r='+OECD[country]+'&ps=','')
  url_year=url_year.replace('&pc=HS6&max='+maxrows+'&fmt=json&mode=full&dec=default&lang=1&meta=false&off=0&subscription-key='+mykey,'')
  
  ###
  # Get the data
  print(f"Catching the request for {url_year}",end=', ')
  req=requests.get(url)
  req.encoding='ascii'
  print(f"Loads {url_year}",end=', ')

  req=json.loads(req.text) 
  ###############################################################################################################################################################################
  # To Pandas DataFrame
  if tariff=='Preferential':
    try:
      df=pd.json_normalize(req["Dataset"])
      print(f"{''.join(str(df.Year.unique().tolist()))} to pd",end=', ')
      keep=['ReportingEconomyCode','ReportingEconomy','PartnerEconomyCode','PartnerEconomy','ProductOrSectorCode','Year','TextValue','Value']
      rename={'ReportingEconomyCode': 'importerCode',
              'ReportingEconomy':'importer',
              'PartnerEconomyCode':'exporterCode',	
              'PartnerEconomy':'exporter',
              'ProductOrSectorCode':'HS6',
              'Year':'year',
              'TextValue':'preference',
              'Value':'tariff_pct'}
      df=df[keep]        
      df.rename(columns=rename,inplace=True)
      return df
    except KeyError:
        pass
  else:
    try:
      df=pd.json_normalize(req["Dataset"])
      print(f"{''.join(str(df.Year.unique().tolist()))} to pd",end=', ')
      keep=['ReportingEconomyCode','ReportingEconomy','ProductOrSectorCode','Year','TextValue','Value']
      rename={'ReportingEconomyCode': 'importerCode',
        'ReportingEconomy':'importer',
        'ProductOrSectorCode':'HS6',
        'Year':'year',
        'TextValue':'preference',
        'Value':'tariff_pct'}
      df=df[keep]
      df.rename(columns=rename,inplace=True)
      df['preference']='MFN'
      return df
    except KeyError:
        pass

In [85]:
for tariff in reversed(tariff_names):  
  for country in country_names:
    print(f"\nStarted {country} for {tariff}")
    # Create URLs
    URLs=create_urls(country,tariff)
    # Request JSON files and put them in Pandas DataFrames
    DFs=[]
    pool = ThreadPoolExecutor(max_workers=3)
    for f in pool.map(query_wto, URLs):
      DFs.append(f)
    # Concatenate dataframes
    print("Concatenating")

    df=pd.concat(DFs)
    # Save
    df.to_csv(''.join(dataFolder+country+'_'+tariff+'.csv'))
    if tariff=='Preferential':
      print("{} for {} has:\n- {:,} observations. \n- {:,} unique HS6. \n- {:,} unique exporters. \n- {} preferential tariff names.".format(country,tariff,len(df), len(df.HS6.unique()),len(df.exporter.unique()),len(df.preference.unique())))
    else:
      print("{} for {} has:\n- {:,} observations. \n- {:,} unique HS6. \n-For years: {}".format(country,tariff,len(df), len(df.HS6.unique()),df.year.unique())) 

    display(df.head())

Started Australia for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1981, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983Loads 1984, Catching the request for 1985, , Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1986Loads 1985, , Catching the request for 1988, Catching the request for 1989, Loads 1987, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1988, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2004, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2003, [2003] to pd, Catching the request for 2008, Loads 2007, [2007] to pd, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2010, Catching the request for 2011, Loads 2011, Catching the request for 2012, Loads 2008, [2008] to pd, Catching the request for 2013, Loads 2012, [2012] to pd, Catching the request for 2014, Loads 2014, [2014] to pd, Catching the request for 2015, Loads 1996, [1996] to pd, Loads 2015, [2015] to pd, Loads 2013, [2013] to pd, Concatenating
Australia for MFN has:
- 41,253 observations.
- 6,032 unique HS6. -For years: [1996 2003 2007 2008 2012 2013 2014 2015]

  importerCode   importer     HS6  year preference  tariff_pct
0          036  Australia  292422  1996        MFN         0.0
1          036  Australia  340600  1996        MFN         5.0
2          036  Australia  292429  1996        MFN         0.0
3          036  Australia  340700  1996        MFN         5.0
4          036  Australia  292511  1996        MFN         0.0

Started Canada for MFN
Catching the request for 1980, Catching the request for 1981Catching the request for 1982, , Loads 1982, Catching the request for 1983, Loads 1983, Catching the request for 1984, Loads 1980, Catching the request for 1985, Loads 1981, Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1987, Catching the request for 1989, Loads 1984, Catching the request for 1990, Loads 1988, Catching the request for 1991, Loads 1989, Catching the request for 1992, Loads 1990, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1993, Catching the request for 1995, Loads 1991, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1996, Catching the request for 1999, Loads 1997, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2004, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 1998, [1998] to pd, Catching the request for 2008, Loads 2003, [2003] to pd, Catching the request for 2009, Loads 2007, [2007] to pd, Catching the request for 2010, Loads 2008, [2008] to pd, Catching the request for 2011, Loads 2009, [2009] to pd, Catching the request for 2012, Loads 2010, [2010] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Canada for MFN has:
- 56,417 observations.
- 6,033 unique HS6. -For years: [1998 2003 2007 2008 2009 2010 2011 2012 2013 2014 2015]

  importerCode importer     HS6  year preference  tariff_pct
0          124   Canada  010391  1998        MFN         0.0
1          124   Canada  010593  1998        MFN        87.4
2          124   Canada  010599  1998        MFN        56.5
3          124   Canada  020120  1998        MFN        14.0
4          124   Canada  020220  1998        MFN        14.0

Started European Union for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1982, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1988Loads 1989, Catching the request for 1990, , Catching the request for 1991, Loads 1990Loads 1991, Catching the request for 1992, , Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1993, Catching the request for 1995, Loads 1992, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 1995, Catching the request for 2002, Loads 2000, Catching the request for 2003, Loads 2001, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2006, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2010, Catching the request for 2011, Loads 2007, [2007] to pd, Catching the request for 2012, Loads 2011, [2011] to pd, Catching the request for 2013, Loads 2012, [2012] to pd, Catching the request for 2014, Loads 2013, [2013] to pd, Catching the request for 2015, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Loads 2002, [2002] to pd, Concatenating
European Union for MFN has:
- 36,147 observations.
- 5,809 unique HS6. -For years: [2002 2007 2011 2012 2013 2014 2015]

  importerCode        importer     HS6  year preference  tariff_pct
0          918  European Union  010392  2002        MFN        33.5
1          918  European Union  010410  2002        MFN        33.3
2          918  European Union  010512  2002        MFN         1.9
3          918  European Union  010619  2002        MFN         1.9
4          918  European Union  020130  2002        MFN        73.2

Started Iceland for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1982, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1984Loads 1983, Catching the request for 1985, , Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1985, Catching the request for 1989, Loads 1987, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1988, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2004, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2003, [2003] to pd, Catching the request for 2008, Loads 2007, [2007] to pd, Catching the request for 2009, Loads 2008, [2008] to pd, Catching the request for 2010, Loads 2009, [2009] to pd, Catching the request for 2011, Loads 1996, [1996] to pd, Catching the request for 2012, Loads 2010, [2010] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Iceland for MFN has:
- 56,417 observations.
- 6,033 unique HS6. -For years: [1996 2003 2007 2008 2009 2010 2011 2012 2013 2014 2015]

  importerCode importer     HS6  year preference  tariff_pct
0          352  Iceland  020410  1996        MFN        30.0
1          352  Iceland  020421  1996        MFN        30.0
2          352  Iceland  020422  1996        MFN        30.0
3          352  Iceland  020423  1996        MFN        30.0
4          352  Iceland  020430  1996        MFN        30.0

Started Japan for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1982, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1994, Catching the request for 2001, Loads 1999, Catching the request for 2002, Loads 2000, Catching the request for 2003, Loads 2001, Catching the request for 2004, Loads 2004, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2003, [2003] to pd, Catching the request for 2007, Loads 2006, [2006] to pd, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2007, [2007] to pd, Catching the request for 2011, Loads 2010, [2010] to pd, Catching the request for 2012, Loads 2012, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2013, [2013] to pd, Catching the request for 2015, Loads 2014, [2014] to pd, Loads 2015, Loads 2002, [2015] to pd[2002] to pd, , Concatenating
Japan for MFN has:
- 46,434 observations.
- 5,808 unique HS6. -For years: [2002 2003 2006 2007 2010 2011 2013 2014 2015]

  importerCode importer     HS6  year preference  tariff_pct
0          392    Japan  010391  2002        MFN         8.5
1          392    Japan  010593  2002        MFN         0.0
2          392    Japan  010599  2002        MFN         0.0
3          392    Japan  010620  2002        MFN         0.0
4          392    Japan  010690  2002        MFN         0.0

Started New Zealand for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1981, Catching the request for 1983, Loads 1983, Catching the request for 1984, Loads 1980, Catching the request for 1985, Loads 1982, Catching the request for 1986, Loads 1984, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1987, Catching the request for 1992, Loads 1990, Catching the request for 1993, Loads 1991, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998Loads 1999, , Catching the request for 2000, Catching the request for 2001, Loads 1995, Catching the request for 2002, Loads 2000, Catching the request for 2003, Loads 2001, Catching the request for 2004, Loads 2002, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, [2008] to pd, Catching the request for 2009, Loads 2009, [2009] to pd, Catching the request for 2010, Loads 2010, [2010] to pd, Catching the request for 2011, Loads 2011, [2011] to pd, Catching the request for 2012, Loads 2003, [2003] to pd, Catching the request for 2013, Loads 2004, Loads 2013, Catching the request for 2014, [2004] to pd, Catching the request for 2015, Loads 2014, Loads 2015, Loads 2012, [2012] to pd, Concatenating
New Zealand for MFN has:
- 35,854 observations.
- 5,808 unique HS6. -For years: [2003 2004 2008 2009 2010 2011 2012]

  importerCode     importer     HS6  year preference  tariff_pct
0          554  New Zealand  010190  2003        MFN         0.0
1          554  New Zealand  010210  2003        MFN         0.0
2          554  New Zealand  010420  2003        MFN         0.0
3          554  New Zealand  010511  2003        MFN         0.0
4          554  New Zealand  010611  2003        MFN         0.0

Started Norway for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1982Loads 1985, Catching the request for 1987, , Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1987, Catching the request for 1990, Loads 1990, Catching the request for 1991, Loads 1989, Catching the request for 1992, Loads 1988, Catching the request for 1993, Loads 1991, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1994, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1993, Catching the request for 2000, Loads 1998, Catching the request for 2001, Loads 1999, Catching the request for 2002Loads 2000, Catching the request for 2003, , Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2006, Catching the request for 2008, Loads 2007, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2010, Catching the request for 2011, Loads 2011, Catching the request for 2012, Loads 2008, [2008] to pd, Catching the request for 2013, Loads 2012, [2012] to pd, Catching the request for 2014, Loads 2013, [2013] to pd, Catching the request for 2015, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Loads 2001, [2001] to pd, Concatenating
Norway for MFN has:
- 30,985 observations.
- 6,011 unique HS6. -For years: [2001 2008 2012 2013 2014 2015]

  importerCode importer     HS6  year preference  tariff_pct
0          578   Norway  722519  2001        MFN         0.0
1          578   Norway  720711  2001        MFN         0.0
2          578   Norway  722520  2001        MFN         0.0
3          578   Norway  720712  2001        MFN         0.0
4          578   Norway  722530  2001        MFN         0.0

Started Switzerland for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1983, Catching the request for 1984, Loads 1982, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1981, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1987, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1985, Catching the request for 1991, Loads 1989, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1993, Catching the request for 1995, Loads 1994, Catching the request for 1996, Loads 1990, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1996, Catching the request for 1999, Loads 1997, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2005, [2005] to pd, Catching the request for 2010, Loads 2009, [2009] to pd, Catching the request for 2011, Loads 2010, [2010] to pd, Catching the request for 2012, Loads 2011, [2011] to pd, Catching the request for 2013, Loads 2013, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Loads 1998, [1998] to pd, Concatenating
Switzerland for MFN has:
- 41,108 observations.
- 6,033 unique HS6. -For years: [1998 2005 2009 2010 2011 2012 2014 2015]

  importerCode     importer     HS6  year preference  tariff_pct
0          756  Switzerland  482020  1998        MFN         8.3
1          756  Switzerland  520300  1998        MFN         0.9
2          756  Switzerland  482030  1998        MFN         6.9
3          756  Switzerland  482040  1998        MFN         5.0
4          756  Switzerland  520411  1998        MFN         1.8

Started Turkey for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1984Loads 1983, Catching the request for 1985, , Catching the request for 1986, Loads 1981, Catching the request for 1987, Loads 1985Loads 1986, Catching the request for 1988, , Catching the request for 1989, Loads 1987, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1988, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2002, Catching the request for 2003, Loads 2003, Catching the request for 2004, Loads 2004, Catching the request for 2005, Loads 2001, [2001] to pd, Catching the request for 2006, Loads 2005, [2005] to pd, Catching the request for 2007, Loads 2006, [2006] to pd, Catching the request for 2008, Loads 2007, [2007] to pd, Catching the request for 2009, Loads 1996, [1996] to pd, Catching the request for 2010, Loads 2008, [2008] to pd, Catching the request for 2011, Loads 2009, [2009] to pd, Catching the request for 2012, Loads 2012, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2014, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2015, [2015] to pd, Loads 2010, [2010] to pd, Concatenating
Turkey for MFN has:
- 56,340 observations.
- 6,033 unique HS6. -For years: [1996 2001 2005 2006 2007 2008 2009 2010 2011 2013 2015]

  importerCode importer     HS6  year preference  tariff_pct
0          792   Turkey  010111  1996        MFN         0.0
1          792   Turkey  010119  1996        MFN        30.0
2          792   Turkey  010290  1996        MFN        46.7
3          792   Turkey  010310  1996        MFN        20.0
4          792   Turkey  010519  1996        MFN        24.5

Started United States for MFN
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1981Loads 1980, Catching the request for 1983, , Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1982, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1987, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1988, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1994, Catching the request for 1997, Loads 1995, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2004, Loads 2003, [2004] to pd, Catching the request for 2005, [2003] to pd, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2005, [2005] to pd, Catching the request for 2010, Loads 2009, [2009] to pd, Catching the request for 2011, Loads 1996, [1996] to pd, Catching the request for 2012, Loads 2010, Loads 2011, [2010] to pd, Catching the request for 2013, [2011] to pd, Catching the request for 2014, Loads 2014, Catching the request for 2015, Loads 2015, Loads 2012, [2012] to pd, Loads 2013, [2013] to pd, Concatenating
United States for MFN has:
- 46,351 observations.
- 6,033 unique HS6. -For years: [1996 2003 2004 2005 2009 2010 2011 2012 2013]

  importerCode                  importer     HS6  year preference  tariff_pct
0          840  United States of America  010410  1996        MFN         0.0
1          840  United States of America  010420  1996        MFN         0.1
2          840  United States of America  010511  1996        MFN         0.7
3          840  United States of America  010512  1996        MFN         1.4
4          840  United States of America  010111  1996        MFN         0.0

Started Australia for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1981, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1987, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1992, Catching the request for 1994, Loads 1990, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1994, Catching the request for 2001, Loads 1999, Catching the request for 2002, Loads 2000, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2006, Catching the request for 2008, Loads 2007, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2010, Catching the request for 2011, Loads 2001, [2001] to pd, Catching the request for 2012, Loads 2008, [2008] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2014, Loads 2013, [2014] to pd, [2013] to pd, Loads 2015, [2015] to pd, Concatenating
Australia for Preferential has:
- 1,355,328 observations.
- 3,052 unique HS6.
- 129 unique exporters.
- 55 preferential tariff names.

  importerCode   importer  ...                       preference tariff_pct
0          036  Australia  ...  Least Developed Countries (LDC)       10.0
1          036  Australia  ...  Least Developed Countries (LDC)       10.0
2          036  Australia  ...  Least Developed Countries (LDC)       10.0
3          036  Australia  ...  Least Developed Countries (LDC)       10.0
4          036  Australia  ...  Least Developed Countries (LDC)       10.0

[5 rows x 8 columns]

Started Canada for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1981, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983Loads 1984, , Catching the request for 1985, Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1985Loads 1986, Catching the request for 1988, , Catching the request for 1989, Loads 1988Loads 1989, Catching the request for 1990, , Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1994, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1993, Catching the request for 1999, Loads 1997, Catching the request for 2000, Loads 1998, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2006, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, [2008] to pd, Catching the request for 2009, Loads 1999, Loads 2005, [1999] to pd, Catching the request for 2010, [2005] to pd, Catching the request for 2011, Loads 2010, [2010] to pd, Catching the request for 2012, Loads 2011, [2011] to pd, Catching the request for 2013, Loads 2009, [2009] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Canada for Preferential has:
- 2,184,895 observations.
- 3,619 unique HS6.
- 142 unique exporters.
- 58 preferential tariff names.

  importerCode importer  ...                      preference tariff_pct
0          124   Canada  ...  Least Developed Country Tariff        0.0
1          124   Canada  ...     General Preferential Tariff        3.0
2          124   Canada  ...     General Preferential Tariff        3.0
3          124   Canada  ...  Least Developed Country Tariff        0.0
4          124   Canada  ...  Least Developed Country Tariff        0.0

[5 rows x 8 columns]

Started European Union for Preferential
Catching the request for 1980Catching the request for 1981, , Catching the request for 1982, Loads 1981Loads 1982, Catching the request for 1983, , Catching the request for 1984, Loads 1984Loads 1983, Catching the request for 1985, , Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1988, Catching the request for 1989, Loads 1989, Catching the request for 1990, Loads 1990, Catching the request for 1991, Loads 1987, Catching the request for 1992, Loads 1992, Catching the request for 1993, Loads 1993, Catching the request for 1994, Loads 1991, Catching the request for 1995, Loads 1994, Catching the request for 1996, Loads 1996, Catching the request for 1997, Loads 1997, Catching the request for 1998, Loads 1995, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 2000, Catching the request for 2001, Loads 2001, Catching the request for 2002, Loads 2002, Catching the request for 2003, Loads 1980, Catching the request for 2004, Loads 1999, Catching the request for 2005, Loads 2003, Catching the request for 2006, Loads 2004, Catching the request for 2007, Loads 2005, Catching the request for 2008, Loads 2006, Catching the request for 2009, Loads 2007, Catching the request for 2010, Loads 2008, Catching the request for 2011, Loads 2009, Catching the request for 2012, Loads 2010, Loads 2011, Loads 2012, [2010] to pd, Catching the request for 2013, [2011] to pd, Catching the request for 2014, Loads 2014, Catching the request for 2015, Loads 2015, [2012] to pd, Loads 2013, [2013] to pd, Concatenating
European Union for Preferential has:
- 1,927,797 observations.
- 4,097 unique HS6.
- 128 unique exporters.
- 61 preferential tariff names.

  importerCode  ... tariff_pct
0          918  ...        0.0
1          918  ...        0.0
2          918  ...        0.0
3          918  ...        0.0
4          918  ...        0.0

[5 rows x 8 columns]

Started Iceland for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1982, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1993, Catching the request for 1995, Loads 1992, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1994, Catching the request for 1999, Loads 1997Loads 1998, Catching the request for 2000, , Catching the request for 2001, Loads 2001, Catching the request for 2002, Loads 2000, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004Loads 2005, Catching the request for 2006, , Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 1999, [1999] to pd, Catching the request for 2011, Loads 2010, Loads 2006, [2010] to pd, Catching the request for 2012, [2006] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Iceland for Preferential has:
- 497,345 observations.
- 1,610 unique HS6.
- 99 unique exporters.
- 59 preferential tariff names.

  importerCode importer  ...                        preference tariff_pct
0          352  Iceland  ...  European Economic Area Agreement        0.0
1          352  Iceland  ...  European Economic Area Agreement        0.0
2          352  Iceland  ...  European Economic Area Agreement        0.0
3          352  Iceland  ...  European Economic Area Agreement        0.0
4          352  Iceland  ...  European Economic Area Agreement        0.0

[5 rows x 8 columns]

Started Japan for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1981, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1980, Catching the request for 1987, Loads 1985, Catching the request for 1988, Loads 1986, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1987, Catching the request for 1993, Loads 1991, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1994, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1993, Catching the request for 2000, Loads 1998, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2006, Loads 2010, [2006] to pd, Catching the request for 2011, [2010] to pd, Catching the request for 2012, Loads 1999, [1999] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Japan for Preferential has:
- 2,145,790 observations.
- 3,520 unique HS6.
- 140 unique exporters.
- 49 preferential tariff names.

  importerCode  ... tariff_pct
0          392  ...        0.0
1          392  ...        0.0
2          392  ...        0.0
3          392  ...        0.0
4          392  ...        0.0

[5 rows x 8 columns]

Started New Zealand for Preferential
Catching the request for 1980Catching the request for 1981, , Catching the request for 1982, Loads 1982, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1988, Catching the request for 1989, Loads 1989, Catching the request for 1990, Loads 1990, Catching the request for 1991, Loads 1987, Catching the request for 1992, Loads 1992, Catching the request for 1993, Loads 1993, Catching the request for 1994, Loads 1994, Catching the request for 1995, Loads 1995, Catching the request for 1996, Loads 1980, Catching the request for 1997, Loads 1991, Catching the request for 1998, Loads 1998, Catching the request for 1999, Loads 1999, [1999] to pd, Catching the request for 2000, Loads 1996, Loads 1997, [1996] to pd, Catching the request for 2001, [1997] to pd, Catching the request for 2002, Loads 2000, [2000] to pd, Catching the request for 2003, Loads 2001, [2001] to pd, Catching the request for 2004, Loads 2002, [2002] to pd, Catching the request for 2005, Loads 2005, Catching the request for 2006, Loads 2003, [2003] to pd, Catching the request for 2007, Loads 2004, [2004] to pd, Catching the request for 2008, Loads 2006, [2006] to pd, Catching the request for 2009, Loads 2008, [2008] to pd, Catching the request for 2010, Loads 2007, Loads 2009, [2009] to pd, Catching the request for 2011, [2007] to pd, Catching the request for 2012, Loads 2010, [2010] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
New Zealand for Preferential has:
- 3,363,596 observations.
- 2,904 unique HS6.
- 121 unique exporters.
- 47 preferential tariff names.

  importerCode  ... tariff_pct
0          554  ...        0.0
1          554  ...        9.5
2          554  ...        0.0
3          554  ...        9.5
4          554  ...        9.5

[5 rows x 8 columns]

Started Norway for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1982, Catching the request for 1983, Loads 1981, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1988, Catching the request for 1989, Loads 1989, Catching the request for 1990, Loads 1987, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1992, Catching the request for 1993, Loads 1993, Catching the request for 1994, Loads 1994, Catching the request for 1995, Loads 1995, Catching the request for 1996, Loads 1980, Catching the request for 1997, Loads 1991, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1996, Catching the request for 2001, Loads 2001, Loads 2000, Loads 1999, [2001] to pd, Catching the request for 2002, [2000] to pd, Catching the request for 2003, [1999] to pd, Catching the request for 2004, Loads 2003, [2003] to pd, Catching the request for 2005, Loads 2004, [2004] to pd, Catching the request for 2006, Loads 2002, [2002] to pd, Catching the request for 2007, Loads 2005, [2005] to pd, Catching the request for 2008, Loads 2006, [2006] to pd, Catching the request for 2009, Loads 2007, [2007] to pd, Catching the request for 2010, Loads 2008, [2008] to pd, Catching the request for 2011, Loads 2009, [2009] to pd, Catching the request for 2012, Loads 2010, [2010] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Norway for Preferential has:
- 1,676,735 observations.
- 1,947 unique HS6.
- 156 unique exporters.
- 161 preferential tariff names.

  importerCode  ... tariff_pct
0          578  ...        0.0
1          578  ...        0.0
2          578  ...        0.0
3          578  ...        0.0
4          578  ...        0.0

[5 rows x 8 columns]

Started Switzerland for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1985Loads 1986, , Catching the request for 1987, Catching the request for 1988, Loads 1988, Catching the request for 1989, Loads 1989, Catching the request for 1990, Loads 1990, Catching the request for 1991, Loads 1991, Catching the request for 1992, Loads 1992, Catching the request for 1993, Loads 1993, Catching the request for 1994, Loads 1994, Catching the request for 1995, Loads 1995, Catching the request for 1996, Loads 1987, Catching the request for 1997, Loads 1981, Catching the request for 1998, Loads 1998, Catching the request for 1999, Loads 1999, Catching the request for 2000, Loads 2000, Catching the request for 2001, Loads 2001, Loads 1996, [2001] to pd, Catching the request for 2002, [1996] to pd, Catching the request for 2003, Loads 1997, [1997] to pd, Catching the request for 2004, Loads 2002, [2002] to pd, Catching the request for 2005, Loads 2003, [2003] to pd, Catching the request for 2006, Loads 2004, [2004] to pd, Catching the request for 2007, Loads 2005, [2005] to pd, Catching the request for 2008, Loads 2006, [2006] to pd, Catching the request for 2009, Loads 2007, [2007] to pd, Catching the request for 2010, Loads 2008, [2008] to pd, Catching the request for 2011, Loads 2009, [2009] to pd, Catching the request for 2012, Loads 2010, [2010] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
Switzerland for Preferential has:
- 9,445,181 observations.
- 5,455 unique HS6.
- 156 unique exporters.
- 92 preferential tariff names.

  importerCode  ... tariff_pct
0          756  ...        0.0
1          756  ...        0.0
2          756  ...        0.0
3          756  ...        0.0
4          756  ...        0.0

[5 rows x 8 columns]

Started Turkey for Preferential
Catching the request for 1980Catching the request for 1981, , Catching the request for 1982, Loads 1982Loads 1981, Catching the request for 1983, , Catching the request for 1984, Loads 1983Loads 1984, , Catching the request for 1985Catching the request for 1986, , Loads 1980, Catching the request for 1987, Loads 1985Loads 1986, Catching the request for 1988, , Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1995, Catching the request for 1997, Loads 1996, Catching the request for 1998, Loads 1994, Catching the request for 1999, Loads 1997, Catching the request for 2000, Loads 1998, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 2001, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 1999, [1999] to pd, Catching the request for 2011, Loads 2006, Loads 2010, [2006] to pd, Catching the request for 2012, [2010] to pd, Catching the request for 2013, Loads 2012, Catching the request for 2014, Loads 2014, Catching the request for 2015, Loads 2011, [2011] to pd, Loads 2013, [2013] to pd, Loads 2015, [2015] to pd, Concatenating
Turkey for Preferential has:
- 2,593,622 observations.
- 4,838 unique HS6.
- 153 unique exporters.
- 56 preferential tariff names.

  importerCode importer  ...                     preference tariff_pct
0          792   Turkey  ...           EC and Customs Union        0.0
1          792   Turkey  ...           EC and Customs Union        0.0
2          792   Turkey  ...  EFTA and Free Trade Agreement        0.0
3          792   Turkey  ...           EC and Customs Union        0.0
4          792   Turkey  ...                FTA with Israel        0.0

[5 rows x 8 columns]

Started United States for Preferential
Catching the request for 1980, Catching the request for 1981, Catching the request for 1982, Loads 1980, Catching the request for 1983, Loads 1982, Catching the request for 1984, Loads 1983, Catching the request for 1985, Loads 1984, Catching the request for 1986, Loads 1985, Catching the request for 1987, Loads 1986, Catching the request for 1988, Loads 1981, Catching the request for 1989, Loads 1988, Catching the request for 1990, Loads 1989, Catching the request for 1991, Loads 1990, Catching the request for 1992, Loads 1991, Catching the request for 1993, Loads 1987, Catching the request for 1994, Loads 1992, Catching the request for 1995, Loads 1993, Catching the request for 1996, Loads 1996, Catching the request for 1997, Loads 1994, Catching the request for 1998, Loads 1997, Catching the request for 1999, Loads 1998, Catching the request for 2000, Loads 1999, Catching the request for 2001, Loads 2000, Catching the request for 2002, Loads 1995, Catching the request for 2003, Loads 2002, Catching the request for 2004, Loads 2003, Catching the request for 2005, Loads 2004, Catching the request for 2006, Loads 2005, Catching the request for 2007, Loads 2007, Catching the request for 2008, Loads 2008, Catching the request for 2009, Loads 2009, Catching the request for 2010, Loads 2006, [2006] to pd, Catching the request for 2011, Loads 2010, Loads 2001, [2010] to pd, Catching the request for 2012, [2001] to pd, Catching the request for 2013, Loads 2011, [2011] to pd, Catching the request for 2014, Loads 2012, [2012] to pd, Catching the request for 2015, Loads 2013, [2013] to pd, Loads 2014, [2014] to pd, Loads 2015, [2015] to pd, Concatenating
United States for Preferential has:
- 2,536,258 observations.
- 5,154 unique HS6.
- 128 unique exporters.
- 46 preferential tariff names.

  importerCode  ... tariff_pct
0          840  ...        0.0
1          840  ...        0.0
2          840  ...        0.0
3          840  ...        0.0
4          840  ...        0.0

[5 rows x 8 columns]